<!DOCTYPE html>
<html ng-app="eStore">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <link href="css/style.css" rel="stylesheet" />
    <title></title>
</head>
<body class="list-group" ng-controller="StoreController as store">
    <header>
        <div id="cart">
            <span class="caption">
                <b>Your Cart:</b>
                0 item(s),
                $0.00
            </span>

            <a href="/Cart.html?returnUrl=%2FCart%2FCheckout">Checkout</a>
        </div>

        <div class="content-wrapper">
            <!--<div class="float-left">
                <p class="site-title"><a href="/Home.html">Office Supply Shop</a></p>
            </div>-->
            <!--<li class="float-right">
                <section id="login">

                    Hello, <a class="username" href="/Account/Manage" title="Manage">donkingii</a>!
                    <form action="/Account/LogOff" id="logoutForm" method="post">
                        <input name="__RequestVerificationToken" type="hidden" value="HjUSkyyIu9OnkVM6cViav1hZZf-5-zCwOXhyHv04B_5S1Xb_e51lUAzRxU7qmP-27MD3CluA0QnnYU_-GAmB4CYFkYLT7G4oUekMQcxkL2I1" />            <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
                    </form>

                </section>-->
                <br />
                <br />
                <nav id="navigation">
                    <ul>
                        <li>
                            <a href="/index.html">Home</a>
                            <!--<a href="/Home/About">About</a>
                            <a href="/Home/Contact">Contact</a>
                            <a href="/index.html">Products</a>-->
                        </li>

                    </ul>
                </nav>
        </div>
        <h1 class="text-center">Office Supplies</h1>
    </header>
    
    <div class="list-group-item" ng-repeat="product in store.products">
        <h3>
            {{product.name}}
            <em class="pull-right">{{product.price | currency}}</em>
        </h3>
        <section ng-show="product.images.length">
            <img ng-src="{{product.images[0]}}" />
            <ul class="list-inline thumbs">
                <li class="thumbnail" ng-repeat="image in product.images">
                    <img ng-src="{{image}}" />
                </li>
            </ul>
        </section>

        <div class='gallery' ng-show="product.images.length" ng-controller="GalleryController as gallery">
            <img ng-src="{{product.images[gallery.current]}}" />
            <ul class="list-inline thumbs">
                <li class="thumbnail" ng-repeat="image in product.images">
                    <img ng-src="{{image}}" />
                </li>
            </ul>
        </div>

        <section class="tab" ng-controller="TabController as tab">
            <ul class="nav nav-pills">
                <li ng-class="{active:tab.isSet(1)}">
                    <a href ng-click="tab.setTab(1)">Description</a>
                </li>
                <!--<li ng-class="{active:tab.isSet(2)}">
                    <a href ng-click="tab.setTab(2)">Specs</a>
                </li>-->
                <li ng-class="{active:tab.isSet(3)}">
                    <a href ng-click="tab.setTab(3)">Reviews</a>
                </li>
            </ul>
            <div ng-show="tab.isSet(1)">
                <h4>Description</h4>
                <blockquote>{{product.description}}</blockquote>
                <label>QTY:</label><input type="text" width="5px" />
                <button ng-click="">Buy</button>
            </div>
            <!--<div ng-show="tab.isSet(2)">
                <h4>Specs</h4>
                <blockquote>Shine: {{product.shine}}</blockquote>
            </div>-->
            <div ng-show="tab.isSet(3)">
                <ul>
                    <h4>Reviews</h4>
                    <li ng-repeat="review in product.reviews">
                        <blockquote>
                            <strong>{{review.stars}} Stars</strong>
                            {{review.body}}
                            <cite class="clearfix">—{{review.author}} on {{review.createdOn | date}}</cite>
                        </blockquote>
                    </li>
                </ul>
                
                <!--  Review Form -->
                <form name="reviewForm" ng-controller="ReviewController as reviewCtrl" ng-submit="reviewForm.$valid && reviewCtrl.addReview(product)" novalidate>

                    <!--  Live Preview -->
                    <blockquote>
                        <strong>{{reviewCtrl.review.stars}} Stars</strong>
                        {{reviewCtrl.review.body}}
                        <cite class="clearfix">—{{reviewCtrl.review.author}}</cite>
                    </blockquote>

                    <!--  Review Form -->
                    <h4>Submit a Review</h4>
                    <fieldset class="form-group">
                        <select required ng-model="reviewCtrl.review.stars" class="form-control" ng-options="stars for stars in [5,4,3,2,1]" title="Stars">
                            <option value="">Rate the Product</option>
                        </select>
                    </fieldset>
                    <fieldset class="form-group">
                        <textarea ng-model="reviewCtrl.review.body" class="form-control" placeholder="Write a short review of the product..." title="Review"></textarea>
                    </fieldset>
                    <fieldset class="form-group">
                        <input required ng-model="reviewCtrl.review.author" type="email" class="form-control" placeholder="jimmyDean@example.org" title="Email" />
                    </fieldset>
                    <fieldset class="form-group">
                        <input type="submit" class="btn btn-primary pull-right" value="Submit Review" />
                    </fieldset>
                </form>

                <blockquote></blockquote>
            </div>
        </section>
    </div>

    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; 2015 - Office Supply Shop</p>
            </div>
        </div>
    </footer>

</body>


</html>
